@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
}

body {
    background-color: #2f2f2f;
    color: #fff
}

.title {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 372.81248474121090907px); /* We HAVE to get this accurate */
    grid-auto-rows: 200px;
    grid-gap: 10px;
}

.Library {
    border-style: solid;
    padding-left: 20px;
}