<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <h1 class="title">Library Manager</h1>
    <p class="title">Find free libraries for your roblox games or upload your own</p>
    <div class="container">
        <div class="Library">
            <h4 id="Title">Title</h4>
            <p id="Description">This is quite the long description, I hope the overflow isn't too bad on this p element.</p>
            <button id="Install">Install</button>
        </div>
    </div>
</body>
</html>